<div class="container" *ngIf="categoriaService.categorias$ | async; let categorias;">
    <div *ngIf="medidaService.medidas$ | async; let medidas;">


        <div class="row">
            <div class="col-md-9">
                <h4>
                    <strong>
                        <em>Medicamentos</em>
                    </strong>
                </h4>
            </div>
            <div class="col text-right">
                <a class="" (click)="showModal()">
                    <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="card" *ngIf="medicamentoService.medicamento$ | async; let medicamentos;">
            <div class="card-block">
                <div class="card-header">
                    <strong> Medicamentos ({{ medicamentos.length }})</strong>
                    <h5 *ngIf="medicamentos.length === 0">No existen medicamentos almacenados en DB. Agregue nuevo Medicamento.</h5>
                </div>
                <div *ngIf="medicamentos.length > 0">
                    <table id="example" class="table table-bordered table-striped">
                        <thead class="thead">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Presentacion</th>
                                <th>Unidad de Medida</th>
                                <th>Dolencia</th>
                                <th>Instruccion</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of medicamentos| paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ e.nombre | uppercase}}</td>
                                <td>{{ e.presentacion | uppercase}}</td>
                                <td>{{ e.cantidad | uppercase}} {{ e.medida | uppercase}}</td>
                                <td>{{ e.dolencia | uppercase}}</td>
                                <td>{{ e.instruccion | uppercase}}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" (click)="enableEditing($event, e)">
                                        <i class="fa fa-pencil"></i> Edit</button>
                                    <button class="btn btn-sm btn-danger" (click)="deleteMedicamento(e)">
                                        <i class="fa fa-trash"></i> Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>

            </div>
        </div>


        <div #myModal class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form class="form" [formGroup]="addMedicamentoForm" (ngSubmit)="addMedicamento()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Medicamentos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid" style="font-size: 13px">
                                <form class="form" [formGroup]="addMedicamentoForm" (ngSubmit)="addMedicamento()">
                                    <div class="container">
                                        <p class="lead">
                                            <em>
                                                <strong>Datos del Medicamento:</strong>
                                            </em>
                                        </p>
                                        <hr>
                                        <div class="row justify-content-start">
                                            <div class=" col-lg-4">
                                                <label for="presentacion">Presentación:</label>
                                                <select class="form-control text-uppercase" id="presentacion" name="presentacion" formControlName="presentacion">
                                                    <option value=""></option>
                                                    <option *ngFor="let c of categorias">{{c.descripcion }}</option>
                                                </select>
                                            </div>
                                            <div class=" col-lg-2">
                                                <label for="cantidad">Cantidad:</label>
                                                <input type="text" class="form-control" id="cantidad" name="cantidad" formControlName="cantidad">
                                            </div>
                                            <div class=" col-lg-3">
                                                <label for="medida">Medida:</label>
                                                <select class="form-control text-uppercase" id="medida" name="medida" formControlName="medida" >
                                                    <option value=""></option>
                                                    <option *ngFor="let m of medidas">{{m.descripcion }}</option>
                                                </select>
                                            </div>
                                            <div class=" col-lg-3">
                                                <label for="restringido">Venta Restringida:</label>
                                                <select class="form-control text-uppercase" id="restringido" name="restringido" formControlName="restringido">
                                                    <option value=""></option>
                                                    <option *ngFor="let r of restringidoM">{{ r }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row justify-content-start">
                                            <div class=" col-lg-8">
                                                <label for="nombre">Nombre:</label>
                                                <input type="text" class="form-control" id="nombre" name="nombres" placeholder="Ingrese nombre del Medicamento" formControlName="nombre">
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row justify-content-start">
                                            <div class=" col-lg-6">
                                                <label for="nombre">Dolencia:</label>
                                                <textarea rows="3" type="text" class="form-control" id="nombre" name="nombres" placeholder="Escriba la enfermedad que trata el medicamento" formControlName="dolencia"></textarea>
                                            </div>
                                            <div class=" col-lg-6">
                                                <label for="nombre">Instrucciones:</label>
                                                <textarea rows="3" type="text" class="form-control" id="nombre" name="nombres" placeholder="Instrucciones" formControlName="instruccion"></textarea>
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="row justify-content-start">
                                            <div class=" col-lg-7">
                                                <label for="nombres">Foto:</label>
                                                <input type="file" (change)="detectFiles($event)" class="form-control text-uppercase" id="logo" name="logo">
                                                <div *ngIf="currentUpload">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                                                    </div>
                                                    Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit" [disabled]="!addMedicamentoForm.valid">Save </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>