
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4>
                    <strong>
                        <em>Compras</em>
                    </strong>
                </h4>
            </div>
            <div class="col text-right">
                <a class="" (click)="showModal()">
                    <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="card" *ngIf="compraService.compras$ | async; let compras;">
            <div class="card-block">
                <div class="card-header">
                    <strong> Compras ({{ compras.length }})</strong>
                    <h5 *ngIf="compras.length === 0">No existen compras almacenados en DB. Agregue nuevo Compra.</h5>
                </div>
                <div *ngIf="compras.length > 0">
                    <table id="example" class="table table-bordered table-striped">
                        <thead class="thead">
                            <tr>
                                <th>#</th>
                                <th>Descripción</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot class="thead">
                            <tr>
                                <th>#</th>
                                <th>Descripción</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let e of compras| paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ e.nombre | uppercase}}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" (click)="enableEditing($event, e)">
                                        <i class="fa fa-pencil"></i> Edit</button>
                                    <button class="btn btn-sm btn-danger" (click)="deleteCompra(e)">
                                        <i class="fa fa-trash"></i> Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
    
            </div>
        </div>
    </div>
    
    <div #myModal class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="form" [formGroup]="addCompraForm" (ngSubmit)="addCompra()">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalModalLabel">Compras</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" style="font-size: 13px">
                            <form class="form" [formGroup]="addCompraForm" (ngSubmit)="addCompra()">
                                <div class="container">
                                    <p class="lead">
                                        <em>
                                            <strong>Datos del Compra:</strong>
                                        </em>
                                    </p>
                                    <hr>
                                    <div class="row justify-content-start">
                                        <div class=" col-lg-8">
                                            <label for="nombre">Laboratorio:</label>
                                            <input type="text" class="form-control text-uppercase" id="nombre" name="nombres" formControlName="nombres">
                                        </div>
                                        <div class=" col-lg-4">
                                            <label for="nombre">Impuesto:</label>
                                            <input type="text" class="form-control text-uppercase" id="nombre" name="nombres" formControlName="nombres">
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="row justify-content-start">
                                        <div class=" col-lg-4">
                                            <label for="nombre">Tipo de Comprobante:</label>
                                            <input type="text" class="form-control text-uppercase" id="nombre" name="nombres" formControlName="nombres">
                                        </div>
                                        <div class=" col-lg-4">
                                            <label for="nombre">RUC:</label>
                                            <input type="text" class="form-control text-uppercase" id="nombre" name="nombres" formControlName="nombres">
                                        </div>
                                        <div class=" col-lg-4">
                                            <label for="nombre">Numero:</label>
                                            <input type="text" class="form-control text-uppercase" id="nombre" name="nombres" formControlName="nombres">
                                        </div>
                                    </div>
                                     <p></p>
                                    <button class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i> Buscar Articulos</button>
                                </div>
                            </form>
                        </div>
                        <p></p>
                        <hr>
                        <button class="btn btn-success" (click)="itemPush()"><i class="fa fa-search" aria-hidden="true"></i> Buscar Articulos</button>
                        <table class="table table-bordered table-striped">
                            <thead class="thead">
                              <tr class="text-center">
                                <th>#</th>
                                <th>Articulo</th>
                                <th>Codigo</th>
                                <th>Fecha de Caducidad</th>
                                <th>Stock de Ingreso</th>
                                <th>P. Compra</th>
                                <th>P. Venta</th>
                                <th>Opciones</th>
                              </tr>
                            </thead>
                            <tbody >
                              <tr *ngFor="let item of itemList; let i = index">
                                  <td>{{ i+1 }}</td>
                                    <td><input type="text" name="lastname-{{i}}" [(ngModel)]="item.lastname" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input type="text" name="middlename-{{i}}" [(ngModel)]="item.middlename" [ngModelOptions]="{standalone: true}"></td>
                              </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-usd"> Sub Total:</i></span>
                                    <input class="form-control" type="text"  readonly>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-percent"> IGV:</i></span>
                                    <input class="form-control" type="text"  readonly>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-usd"> Total:</i></span>
                                    <input class="form-control" type="text"  readonly>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-primary" type="submit" [disabled]="!addCompraForm.valid">Registrar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


