<div class="container-fluid">
    <div>
        <div class="container">
            <p></p>
            <div class="row ">
                <div class="col-lg-9">
                    <h5>
                        <strong><i class="fa fa-heartbeat" aria-hidden="true"></i> Farmacia</strong>
                    </h5>
                </div>
                <div class="col-lg-3">
                    <div *ngIf="user">
                        <a  (click)="signOut.emit()" href="#">
                            <strong><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out({{ nombrexz$ }})</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <hr>
    <div class="row">
        <div class="col-lg-2" *ngIf="user">
            
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



